In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("netflix_titles.csv")

In [3]:
data.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

In [4]:
data['type'].value_counts().sort_values(ascending=False)

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [5]:
data['rating'].value_counts().sort_values(ascending=False)

rating
TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
Name: count, dtype: int64

In [6]:
data['rating'].isnull().sum()

np.int64(4)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [8]:
data.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [9]:
data['director'] = data['director'].fillna(value="Unknown")

In [10]:
data['director'].isnull().sum()

np.int64(0)

In [11]:
data.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [12]:
data.rename(columns={'release_year':'released_year'}, inplace = True)

In [13]:
data.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'released_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [18]:
data['date_added'] = pd.to_datetime(data['date_added'], errors = 'coerce')

In [23]:
data[data['listed_in'].str.contains('Crime', na = False)]

,show_id,type,title,director,cast,country,date_added,released_year,rating,duration,listed_in,description
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
10,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",Unknown,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B..."
11,s12,TV Show,Bangkok Breaking,Kongkiat Komesiri,"Sukollawat Kanarot, Sushar Manaying, Pavarit M...",NaN,2021-09-23,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...","Struggling to earn a living in Bangkok, a man ..."
14,s15,TV Show,Crime Stories: India Detectives,Unknown,NaN,NaN,2021-09-22,2021,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Docuseries",Cameras following Bengaluru police on the job ...
17,s18,TV Show,Falsa identidad,Unknown,"Luis Ernesto Franco, Camila Sodi, Sergio Goyri...",Mexico,2021-09-22,2020,TV-MA,2 Seasons,"Crime TV Shows, Spanish-Language TV Shows, TV ...",Strangers Diego and Isabel flee their home in ...
...,...,...,...,...,...,...,...,...,...,...,...,...
8533,s8534,TV Show,The Traffickers,Unknown,Nelufar Hedayat,United States,2018-01-22,2016,TV-MA,1 Season,"Crime TV Shows, Docuseries","In this hard-hitting series, journalist Nelufa..."
8588,s8589,TV Show,Tientsin Mystic,Unknown,"Li Xian, Zhang Ming En, Wang Zixuan, Chen Yumi...",China,2018-02-09,2017,TV-14,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","In an otherworldly river town, a policeman fol..."
8593,s8594,TV Show,Timeline,Unknown,"Santiwithi Phrombut, Jamorn Kijsawapak, Orrawa...",NaN,2018-02-23,2014,TV-14,1 Season,"Crime TV Shows, Docuseries, International TV S...","Firsthand accounts, re-enactments and computer..."
8644,s8645,TV Show,Twin Peaks,Unknown,"Kyle MacLachlan, Michael Ontkean, Mädchen Amic...",United States,2017-07-01,1990,TV-14,2 Seasons,"Classic & Cult TV, Crime TV Shows, TV Dramas","""Who killed Laura Palmer?"" is the question on ..."
8755,s8756,TV Show,Women Behind Bars,Unknown,NaN,United States,NaT,2010,TV-14,3 Seasons,"Crime TV Shows, Docuseries",This reality series recounts true stories of w...

In [25]:
data['genre_list'] = data['listed_in'].str.split(', ')

In [32]:
data['date_added'].dt.month_name()

0       September
1       September
2       September
3       September
4       September
          ...
8802     November
8803         July
8804     November
8805      January
8806        March
Name: date_added, Length: 8807, dtype: object

In [33]:
data['date_added'].dt.year

0       2021.0
1       2021.0
2       2021.0
3       2021.0
4       2021.0
         ...
8802    2019.0
8803    2019.0
8804    2019.0
8805    2020.0
8806    2019.0
Name: date_added, Length: 8807, dtype: float64

In [35]:
data.groupby('type')['title'].count()

type
Movie      6131
TV Show    2676
Name: title, dtype: int64

In [36]:
data.head()

,show_id,type,title,director,cast,country,date_added,released_year,rating,duration,listed_in,description,genre_list
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",[Documentaries]
1,s2,TV Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...","[International TV Shows, TV Dramas, TV Mysteries]"
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,"[Crime TV Shows, International TV Shows, TV Ac..."
3,s4,TV Show,Jailbirds New Orleans,Unknown,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...","[Docuseries, Reality TV]"
4,s5,TV Show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,"[International TV Shows, Romantic TV Shows, TV..."

In [41]:
data.groupby('country')['type'].count().sort_values(ascending=False).head(10)

country
United States     2818
India              972
United Kingdom     419
Japan              245
South Korea        199
Canada             181
Spain              145
France             124
Mexico             110
Egypt              106
Name: type, dtype: int64

In [43]:
data.groupby('released_year')['type'].count().sort_values(ascending=False).head(10)

released_year
2018    1147
2017    1032
2019    1030
2020     953
2016     902
2021     592
2015     560
2014     352
2013     288
2012     237
Name: type, dtype: int64

In [44]:
data.head(2)

,show_id,type,title,director,cast,country,date_added,released_year,rating,duration,listed_in,description,genre_list
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",[Documentaries]
1,s2,TV Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...","[International TV Shows, TV Dramas, TV Mysteries]"

In [46]:
data.groupby('rating')['type'].count().sort_values(ascending=False).head(10)

rating
TV-MA    3207
TV-14    2160
TV-PG     863
R         799
PG-13     490
TV-Y7     334
TV-Y      307
PG        287
TV-G      220
NR         80
Name: type, dtype: int64

In [55]:
customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4],
    'name': ['Amit', 'Rahul', 'Sneha', 'Neha']
})

In [56]:
orders = pd.DataFrame({
    'customer_id': [1, 2, 2, 5],
    'order_amount': [500, 300, 700, 400]
})

In [57]:
#Inner jOin = Which joins the records or columns present in both tables.
pd.merge(customers, orders, on='customer_id', how='inner')

   customer_id   name  order_amount
0            1   Amit           500
1            2  Rahul           300
2            2  Rahul           700

In [58]:
pd.merge(customers, orders, on='customer_id',how = 'left')

   customer_id   name  order_amount
0            1   Amit         500.0
1            2  Rahul         300.0
2            2  Rahul         700.0
3            3  Sneha           NaN
4            4   Neha           NaN

In [59]:
pd.merge(customers, orders, on = 'customer_id', how = 'right')

   customer_id   name  order_amount
0            1   Amit           500
1            2  Rahul           300
2            2  Rahul           700
3            5    NaN           400

In [65]:
combine_data = pd.merge(customers, orders, on = 'customer_id', how = 'outer')

In [66]:
combine_data

   customer_id   name  order_amount
0            1   Amit         500.0
1            2  Rahul         300.0
2            2  Rahul         700.0
3            3  Sneha           NaN
4            4   Neha           NaN
5            5    NaN         400.0

In [67]:
combine_data['order_amount'] = combine_data['order_amount'].fillna(combine_data['order_amount'].mean())

In [68]:
combine_data

   customer_id   name  order_amount
0            1   Amit         500.0
1            2  Rahul         300.0
2            2  Rahul         700.0
3            3  Sneha         475.0
4            4   Neha         475.0
5            5    NaN         400.0

In [69]:
combine_data['name'] = combine_data['name'].fillna('Unknown')

In [70]:
combine_data

   customer_id     name  order_amount
0            1     Amit         500.0
1            2    Rahul         300.0
2            2    Rahul         700.0
3            3    Sneha         475.0
4            4     Neha         475.0
5            5  Unknown         400.0

In [71]:
combine_data.dtypes

customer_id       int64
name             object
order_amount    float64
dtype: object

In [74]:
combine_data['order_amount'] = combine_data['order_amount'].astype('int64')

In [76]:
combine_data.dtypes

customer_id      int64
name            object
order_amount     int64
dtype: object

In [78]:
combine_data.to_csv("demo_data_delete_later.csv")